- unless session[:uin].nil?
  = render 'layouts/login'

// -------------------------fall19---------------
%script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
:javascript
  window.jQuery || document.write('<script src="js/jquery-1.7.1.js">\x3C/script>')
// --------------------------fall19----------------
%body{:onload => "pageinit()"}


= form_for :dump, :url=>{:action=>"uploadCourses"}, :html => { :multipart => true } do |f|
  %table
    %tr
      %td
        %label{:for => "dump_file"}
          Select a CSV File :
      %td
        = f.file_field :file, accept: '.csv'
    %tr
      %td
        = label :csv, :function, 'Upload as'
      %td 
        = radio_button(:csv, :function, "Append", :checked => true)
        Append
        = radio_button(:csv, :function, "Override")
        Override
    %tr
      
      %td
        = link_to '<button type="button" class="regularbutton">Go Back</button>'.html_safe, student_requests_adminprivileges_path
      %td
        = submit_tag 'Submit'
        // = form_tag(student_requests_adminprivileges_path, method: :get) do
        //   = submit_tag 'Go Back'
      